configure-section-form-items-name: "Jméno v DB"
configure-section-form-items-name-required: "Jméno je povinné"
configure-section-form-items-alias: "Alias názvu"
configure-section-form-items-defaultvalue: "Výchozí hodnota formuláře"
configure-section-form-items-emptyvalue: "Text žádné hodnoty ve výpisu"
configure-section-form-items-emptyvaluehide: "Schovat prázdnou hodnotu ve výpisu"
configure-section-form-items-required: "Text povinné položky"
configure-section-form-items-hint: "Plovoucí nápověda"
configure-section-form-items-show: "Zobrazit v"
configure-section-form-items-readonly: "Jen pro čtení"
configure-section-form-items-omit: "Neodesílat hodnotu formulářem"
configure-section-form-items-ordering: "Řazení sloupce"
configure-section-form-items-orderdefault: "Řadit defaultně"
configure-section-form-items-orderposition: "Pořadí řazení"
configure-section-form-items-fk: "Název FK"
configure-section-form-items-fkextra: "Název extra FK"
configure-section-form-items-fk-prompt: "--- Vybrat sloupec ---"
configure-section-form-items-prompt: "Prompt pro NULL hodnotu"
configure-section-form-items-preview: "Maska pro select"
configure-section-form-items-preview-required: "Maska pro select je povinná"
configure-section-form-items-fkcode: "Maska pro vlaječkový select"
configure-section-form-items-fkcode-hint: "Sloupec s kódem jazyka, obvykle: @code@"
configure-section-form-items-fkid: "Skupinovat výpis podle M: vazby"
configure-section-form-items-fkidfirst: "Použít první položku místo ''prázdné hodnoty''"
configure-section-form-items-fkdefaultid: "Defaultní FK ID pro default / list"
configure-section-form-items-fkdefaultid-hint: "ID ''jazyka'' pro preferování jiného výchozího jazyka v default/add/edit"
configure-section-form-items-fkexclude: "Vynechání těchto položek z FK"
configure-section-form-items-foreign: "Název cizího FK"
configure-section-form-items-foreign-required: "Název cizího FK je povinné"
configure-section-form-items-foreign-prompt: "--- Vybrat FK ---"
configure-section-form-items-currentdatetime: "Aktuální při uložení čas"
configure-section-form-items-items: "Položky seznamu"
configure-section-form-items-items-hint: "separate row '';'', separate key-value '':''"
configure-section-form-items-image: "Povolit obrázky"
configure-section-form-items-path: "Cílová složka"
configure-section-form-items-path-prompt: "--- Vybrat složku ---"
configure-section-form-items-share: "Sdílet soubory"
configure-section-form-items-sharefilter: "Filtrovat jen vlastní soubory"
configure-section-form-items-textbutton: "Text tlačítka"
configure-section-form-items-fileslist: "Přikládat soubory"
configure-section-form-items-group: "Seskupit podle elementu"
configure-section-form-items-group-hint: "Seskupovani elemtnu pro sekce kde je vic polozek stejneho typu, obvykle: galerie"
configure-section-form-items-group-prompt: "--- Vybrat sloupec ---"

configure-section-form-items-truncate: "Zkracování (maximální délka)"
configure-section-form-items-textformat: "Výstupní textový formát"
configure-section-form-items-textformat-hint: "Textový formát používá funkci sprintf(), substituční fomát %s"
configure-section-form-items-format: "Výstupní formát"
configure-section-form-items-placeholder: "Placeholder"

configure-section-form-items-type-label: "Element label"
configure-section-form-items-type-hidden: "Element hidden"
configure-section-form-items-type-text: "Element text"
configure-section-form-items-type-textarea: "Element textarea"
configure-section-form-items-type-editor: "Element editor"
configure-section-form-items-type-password: "Element password"
configure-section-form-items-type-date: "Element date"
configure-section-form-items-type-datepicker: "Element date picker"
configure-section-form-items-type-time: "Element time"
configure-section-form-items-type-timepicker: "Element time picker"
configure-section-form-items-type-datetime: "Element datetime"
configure-section-form-items-type-datetimepicker: "Element datetime picker"
configure-section-form-items-type-checkbox: "Element checkbox"
configure-section-form-items-type-position: "Element position"
configure-section-form-items-type-archive: "Element archive"
configure-section-form-items-type-upload: "Element upload"
configure-section-form-items-type-uploadimage: "Element upload image"
configure-section-form-items-type-radio: "Element radio"
configure-section-form-items-type-select: "Element select"
configure-section-form-items-type-fkselect: "FK select"
configure-section-form-items-type-foreignlabel: "Label cizí tabulky podle FK"
configure-section-form-items-type-foreignhidden: "Hidden cizí tabulky podle FK"
configure-section-form-items-type-foreigntext: "Text cizí tabulky podle FK"
configure-section-form-items-type-foreigntextarea: "Textarea cizí tabulky podle FK"
configure-section-form-items-type-foreigneditor: "Editor cizí tabulky podle FK"
configure-section-form-items-type-foreignselect: "Select z cizí tabulky podle FK"
configure-section-form-items-type-foreignfkpk: "FK ID (:N)"
configure-section-form-items-type-foreignfkwhere: "FK WHERE (M:)"
configure-section-form-items-type-foreignupload: "FK upload"
configure-section-form-items-type-foreignuploadimage: "FK upload image"
configure-section-form-items-type-foreigndatetime: "FK datetime"
configure-section-form-items-type-foreigndatetimepicker: "FK datetime picker"
configure-section-form-items-type-foreigncheckbox: "FK checkbox"
configure-section-form-items-type-foreignposition: "FK position"
configure-section-form-items-type-foreignarchive: "FK archive"


upload-element-reset: "Zrušit vazbu na tomto záznamu"
upload-element-delete: "Smazat soubor a zrušit vazbu na všech záznamech"
upload-element-select: "Vyměnit soubor za jiný z výběru"
upload-element-select-prompt: "--- Vybrat soubor ze seznamu ---"
upload-element-error-one-file: "Do tohoto pole můžete vložit pouze jeden soubor!"
